
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.circle {
  height: 196px;
  width: 196px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  background-color: #fff;
}
